body{
    background-image: url("/img/pattern.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(13, 198, 245);
}

#logo-boolean{
    width: 200px;
    height: auto;
    padding-top: 30px;
}

main, footer{
    background-color: aliceblue;
}

h1{
    font-size: 48px;
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.info {
    color:rgb(126, 120, 120);
}

#tim {
    padding-left: 100px;
}


.info-photo{
    margin: 0px;
}

table{
    width:100% ;
}

th{
    width: 70px;
    background-color:rgb(6, 252, 252);
}

#color-table{
    background-color: aquamarine;
}

footer{
    margin-top: 0px;
}

#adv{
    color:#757575;
    font-size: 20px;
}

.img-back1{
    width: 250px;
    height: 250px;
    background-image: url(/img/monitor.jpg);
    background-size: cover;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.img-back2{
    width: 250px;
    height: 250px;
    background-image: url(/img/graph.jpg);
    background-size: cover;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}